pre {
    counter-reset:line;
}

code > div > span {
    counter-increment:line;
}

code > div > span:before {
    content: counter(line);
    width: 2em;
    display: inline-block;
    border-right: 1px solid black;
}

code > div:hover {
    background-color:#FCFF75;
}
