pre {
    counter-reset:line;
}

code > span {
    counter-increment:line;
}

code > span:before {
    content: counter(line);
    width: 2em;
    display: inline-block;
    border-right: 1px solid black;
}
